@font-face { font-family: ntype; src: url('resources/custom_font.otf'); } 

h2 {
    font-family: ntype !important;
 }

.card-img.loading {
    opacity: 0.5;
    filter: blur(2px);
    background-color: #f3f4f6;
}